<div>
      <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 98px;
          height: 160px;
          padding: 0px 3px;
          overflow: hidden;
        }
      </style>
      <div id="gr_grid_widget_1678102725">
        <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life" rel="nofollow" href="https://www.goodreads.com/book/show/28257707-the-subtle-art-of-not-giving-a-f-ck"><img alt="The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1465761302l/28257707._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Lies We Tell Ourselves: How to Face the Truth, Accept Yourself, and Create a Better Life" rel="nofollow" href="https://www.goodreads.com/book/show/30689031-the-lies-we-tell-ourselves"><img alt="The Lies We Tell Ourselves: How to Face the Truth, Accept Yourself, and Create a Better Life" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1550879923l/30689031._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Mistakes Were Made (But Not by Me): Why We Justify Foolish Beliefs, Bad Decisions, and Hurtful Acts" rel="nofollow" href="https://www.goodreads.com/book/show/522525.Mistakes_Were_Made_But_Not_by_Me_"><img alt="Mistakes Were Made (But Not by Me): Why We Justify Foolish Beliefs, Bad Decisions, and Hurtful Acts" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328876733l/522525._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Spy School: Are You Sharp Enough to be a KGB Agent? (Puzzles & Quizzes)" rel="nofollow" href="https://www.goodreads.com/book/show/36518876-spy-school"><img alt="Spy School: Are You Sharp Enough to be a KGB Agent?" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1509580916l/36518876._SX98_.jpg" /></a></div>
    <br style="clear: both"/>
  </div>

      </div>
</div>
