<div class="link-wrapper">
  {% if site.platforms %}
  <ul class="link">
    {%- for platform in site.platforms %}
    <li><a href="{{ platform.link }}">{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>
    {%- endfor %}
  </ul>
  {% endif %}

  {% if site.workout %}
  <h3 class="sidebar-h3">Workout summary</h3>
    {%- for workout in site.workout %}
    <iframe position='relative' frameborder='0' allowtransparency='true' scrolling='no' src="{{ workout.link }}"></iframe>
    {%- endfor %}
  {% endif %}
</div>
